body{
    background-color: white;
}
h1 {
font-size: 3rem;
display: flex;
justify-content: center;
align-items: center;
align-content: center;

}
.inputSection {
    display:flex;
    align-items: center;
    justify-content: center;
}
.button {
    background-color: white;
    color: navy;
    border: 2px solid lightblue;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin: .5rem .5rem .5rem .5rem;

  }
  
  .button:hover {
    background-color: lightgreen;
    color: white;
  }